/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.container p {
  font-weight: 20px,
}
.card-category {
 font-size: 15px;
}
.card-description p {
  font-style: italic;
}
.card-description h2 {
  text-decoration: underline;
}
.btn-lg {
  border-radius: 20em;
}
